<div class="specs">
    
    <form novalidate class="form-horizontal" ng-controller="EditAnimal">
    
    <div class="control-group">
        <label class="control-label" for="nickname">Nickname</label>
        <div class="controls"><input id="nickname" type="text" ng-model="animal.nickname"></div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="identifier">Identifier</label>
        <div class="controls"><input id="identifier" type="text" ng-model="animal.identifier"></div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="sex">Gender</label>
        <div class="controls">
            <select ng-model="animal.sex" class="span1">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="strain">Strain</label>
        <div class="controls">
            <select ng-model="animal.strain" ng-options="st.resource_uri as st.nomenclature for st in strains.objects">
                <option value="">-- choose strain --</option>
            </select>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="supplier">Supplier</label>
        <div class="controls">
            <select ng-model="animal.supplier" ng-options="sup.resource_uri as sup.name for sup in suppliers.objects">
                <option value="">-- choose supplier --</option>
            </select>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="birth">Birth</label>
        <div class="controls">
            <input id="birth" type="text" value="{{animal.birth|date:'dd/MM/yyyy'}}">
            <button class="btn" ng-click="birthCollapsed=!birthCollapsed"><i class="icon-calendar"></i></button>
            <div collapse="birthCollapsed">
                <datepicker ng-model="animal.birth" starting-day="1" show-weeks="false"></datepicker>
            </div>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="birth">Sacrifice</label>
        <div class="controls">
            <input id="sacrifice" type="text" value="{{animal.sacrifice|date:'dd/MM/yyyy'}}">
            <button class="btn" ng-click="sacrificeCollapsed=!sacrificeCollapsed"><i class="icon-calendar"></i></button>
            <div collapse="sacrificeCollapsed">
                <datepicker ng-model="animal.sacrifice" starting-day="1" show-weeks="false"></datepicker>
            </div>
        </div>
    </div>

    <div class="control-group">
        <button ng-click="reset()" class="btn">Cancel</button>
        <button ng-click="update(animal)" class="btn">Save</button>
        <button ng-click="delete(animal)" class="btn btn-danger">Delete</button>
    </div>
    
    </form>

    <pre>local = {{animal | json}}</pre>
    <pre>master = {{master_entry | json}}</pre>
</div>

